header {
    /*background-color: #333;*/
    color: white;
    text-align: right;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    /*background-color: #555;*/
    padding: 5px;
}

nav a {
    /* color: white;*/
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}



main {
    padding: 50px;

}

#dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 0;

}

.widget {
    background-color: #f0f0f0;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}













footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer-icons i {
    font-size: 24px;
    margin: 0 10px;
}